h1{
    font-size: 30px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: medium;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    text-align: justify;
    color: green;
}

i {
   font-size: 50px;
   color: grey;
   margin-right: 10px;
}
  
#facebook:hover{
    color: #3b5998;
}

#youtube:hover{
    color: #FF0000
}

#pinterest:hover{
    color: #c8232c
}

#instagram:hover {
    background: linear-gradient(150deg, rgba(64,93,236,1) 0%, rgba(225,48,108,1) 50%, rgba(255,251,128,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
