div{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div:hover{
    background-color: darkred;
}
.box{
    width: 150px;
    height: 150px;
    margin: 5px;
}

#item, p{
    color: brown;
}

div p{
    background-color:darkgoldenrod;
    color: darkgreen;
}
span{
    font-size: 25px;
    background-color:darkorchid;
}