h1{
    font-size: 30px;
}
.sh{
    width: 600px;
    height: 337px;
    border: transparent 3px solid;
    background-color: #747882 ;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    
}

.shadow1{
    font-size: 50px;
    transform: translate(51px, 99px);
    color: rgb(240, 238, 231);
    text-shadow: 0 2px 4px black;
    
}

.shadow2{
  font-size: 50px;
  transform: translate(333px, -56px);
  color: rgb(240, 238, 231);
  text-shadow: 3px 4px 6px black;
}