h1{
    font-size: 30px;
}
.triangletop {
    width: 0;
    height: 0;
    border-bottom: 140px solid #f50303;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    margin-bottom: 15px;
}
.trianglebottom{
width: 0;
height: 0;
border-top: 140px solid #f50303;
border-left: 70px solid transparent;
border-right: 70px solid transparent;
}

.triangleleft{
width: 0;
height: 0;
border-top: 70px solid transparent;
border-right: 140px solid #6bbf20;
border-bottom: 70px solid transparent;
}
.triangleright{
width: 0;
height: 0;
border-top: 70px solid transparent;
border-left: 140px solid #6bbf20;
border-bottom: 70px solid transparent;
margin: 10px;
}

.lt1{
border: 60px solid transparent;
border-left: 60px solid rgb(217, 255, 0);
border-bottom: 60px solid rgb(217, 255, 0);
display: block;
width: 0;
height: 0;
}

.lt2{
border: 60px solid transparent;
border-right: 60px solid rgb(217, 255, 0);
border-bottom: 60px solid rgb(217, 255, 0);
display: block;
width: 0;
height: 0;
margin: 10px;
}
.lt3{
border: 60px solid transparent;
border-top: 60px solid rgb(0, 60, 255);
border-right: 60px solid rgb(0, 60, 255);
display: block;
width: 0;
height: 0;
}
.lt4{
border: 60px solid transparent;
border-top: 60px solid rgb(0, 60, 255);
border-left: 60px solid rgb(0, 60, 255);
display: block;
width: 0;
height: 0;
}
